/* Imported font */
@import url();

/* Custom variables */
:root {
    --clr-bkg-main-primary: #ff4f8b;
    --clr-bkg-main-secondary: #dff1ff;
    --clr-bkg-main-tertiary: #ff0;
    --clr-bkg-item-1: #ff359b;
    --clr-bkg-item-2: #fffd87;
    --clr-bkg-item-3: #00d2ff;
    --clr-txt-main: black;
}

/* Global configuration */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}